<!DOCTYPE html>
<html>
<head>
    <title>SMS spam check</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <style>
        
body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f4f5e7;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}
        
#brandname{
	float:left;
	font-size:30px;
	color: #fff;
	margin: 10px;
}
a{
    color:red;
}


.resultss{
	border-radius: 15px 50px;
    padding: 20px; 
    width: 200px;
    height: 150px;
}
    </style>

</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
            <a href="/">SMS Spam check</div></a>
		</div>
		
	</div>
    </header>
    <div class="container">

		<form action="/predict" method="POST">
        
        <div class="form-group">
            <label for="comment">Enter Your Message Here:</label>
            <textarea class="form-control" rows="5" id="comment" name="text" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
		
    </form>
		
	</div>

</body>
</html>
